<template>

  <div class="form">
    <h3>Форма добавления врача</h3>
    <div class="contentWrapper">
      <div  class="titles">
        <div v-for="field in doctorFields" :key="field" class="titles">
          <span>{{field}}</span>
        </div>
      </div>

      <div class="inputs">
        <input type="text" v-model="name">
        <input type="text" v-model="surname">
        <input type="text" v-model="middleName">
        <input type="text" v-model="telephone">
        <input type="text" v-model="startDate">
        <input type="text" v-model="endDate">
        <input type="text" v-model="birthDate">
        <input type="text" v-model="email">
      </div>

    </div>
    <div v-show="emptyFields" class="alert">Заполните обязательные поля</div>
    <button @click="addDoctors" v-show="!emptyFields">Добавить врача</button>
  </div>

</template>

<script>

import {store} from "@/store";

export default {
  name: "DoctorCreationForm",
  data: () => ({
    name: '',
    surname: '',
    middleName: '',
    telephone: '',
    startDate: '',
    endDate: '',
    birthDate: '',
    email: '',

  }),
  mounted() {
        this.doctorFields2 = store.getters.doctorFields;
  },
  components: {

  },
  methods: {
    addDoctors() {
      store.commit('addDoctor',  {
        name: this.name,
        surname: this.surname,
        middleName: this.middleName,
        telephone: this.telephone,
        startDate: this.startDate,
        endDate: this.endDate,
        birthDate: this.birthDate,
        email: this.email,}
      )
    },
  },
  computed: {
    doctorFields() {
      return store.getters.doctorFields;
    },
    emptyFields() {
      return !(
          this.name !== ''
          && this.surname !== ''
          && this.middleName !== ''
          && this.startDate !== ''
          && this.endDate);
    }
  }
}
</script>

<style scoped>

h3 {
  position: absolute;
  top: 0;
  left: 25%;
}

.titles {
  width: 60%;
  height: calc(2.25rem + 2px);
  padding: 0.440rem 0.85rem;
  margin-bottom: 5px;
}

.alert {
  color: red;
  position: absolute;
  bottom: 100px;
  left: 25%;
}

.form {
  position: relative;
}

button {
  position: absolute;
  bottom: 10px;
  left: 15%;
  width: 70%;
  height: 10%;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
      0 1px rgba(255,255,255,.2) inset,
      0 3px 5px rgba(0,1,6,.5),
      0 0 1px 1px rgba(0,1,6,.2);

}

button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}


input {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  width: 70%;
  height: calc(1.8rem + 2px);

  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}


.inputs {
  width: 40%;
  height: 20px;
  margin-bottom: 5px;
}

.contentWrapper {
  box-shadow: inset 10px 20px 10px rgba(158, 158, 158, 0.25);
  display: flex;
  width: 500px;
  height: 600px;
  background: white;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
</style>