<template>
  <div class="contentWrapper">
   <h3> Форма регистрации пациента</h3>
    <div class="patients">
      Пациент:
      <div >
        <select name="" id="" @change="changePatient($event)">
          <option value="" selected disabled >...</option>
          <option v-for="patient in patients" :key="patient" :value="patient.name + ' ' + patient.surname + ' ' + patient.middleName" >
            <span class="patientName">{{patient.name}}  </span>
            <span class="patientSurname">{{patient.surname}}</span>
          </option>
        </select>

      </div>
    </div>

    <div class="doctors">
      Врач:
      <div>
        <select  name="1" class="selectDoctors" @change="changeDoctor($event)" >
          <option value="" selected disabled >...</option>
          <option  v-for="doctor in this.doctors" :key="doctor.id" :value="doctor.name + ' ' + doctor.surname + ' ' + doctor.middleName" >
            <span class="patientName">{{doctor.name}}</span>
            <span class="patientSurname">{{doctor.surname}}</span>
          </option>
        </select>
      </div>

    </div>

    <div class="data">
      <input id="date" type="date" v-model="date"  @change="changeDate($event)">
      <input id="time" type="time" v-model="startTime" @change="changeTime($event)">
    </div>
    <div v-show="emptyFields" class="alert">Заполните обязательные поля</div>
    <button @click="addAppointment" v-show="!emptyFields">Зарегистрировать пациента</button>
  </div>
</template>

<script>

import {store} from "@/store";

export default {
  name: "PatientRegistrationForm",
  data: () => ({
    fields: store.state.registrationFields,
    date: null,
    time: null,
    selectedPatient: '',
    selectedDoctor: '',
    startTime: ''
  }),
  components: {

  },
  methods: {
    changeDoctor(event) {
      this.selectedDoctor = event.target.value

    },
    changePatient(event) {
      this.selectedPatient = event.target.value

    },
    changeDate(event) {
      this.date = event.target.value
      console.log(this.date)
    },
    changeTime(event) {
      let a = Number(event.target.value.replace(':', '').slice(2))
      let b = parseInt(event.target.value)
      if (a >= 30) {
        b = b +1
        a = a - 30
        this.time = b + ':' + a
      } else {

        a = a + 30
        this.time = b + ':' + a
      }
      console.log(this.time)
    },
    addAppointment() {
      store.commit('addAppointment', {
        patient: this.selectedPatient,
        doctor: this.selectedDoctor,
        startDate: this.date + ' ' + this.startTime,
        endDate: this.date  + ' ' + this.time
      })
    },
  },
  computed: {
    emptyFields() {
      return !(this.date !== null && this.time !== null && this.selectedPatient !== '' && this.selectedDoctor !== '');
    },
    patients() {
      return store.getters.patients;
    },
    doctors() {
      return store.getters.doctors;
    }
  }
}
</script>

<style scoped>
.data {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding-top: 10px;
  width: 50%;
  height: 30px;
}

.alert {
  color: red;
  position: absolute;
  bottom: 150px;
  left: 25%;
}

button {
  position: absolute;
  bottom: 10px;
  left: 15%;
  width: 70%;
  height: 10%;

  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
}
button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
select {
  margin-left: 10px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;

  overflow-y: auto;
  overflox-x: hidden;
}

select:hover {
  background-color: #D8093A;
  color: #ffffff;
}

.selectDoctors {
  margin-left: 10px;
}
.contentWrapper {
  box-shadow: inset 10px 20px 10px rgba(158, 158, 158, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  height: 600px;
  background: white;
  color: black;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.patients {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.doctors {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

h3 {
  position: absolute;
  color: white;
  top: -20px;
  left: 15%;
}
</style>