<template>
<div class="contentWrapper">
  <h3>
    Список записей к врачу
  </h3>
<div class="listWrapper">
  <table class="table">
    <thead>
    <tr>
      <th>Пациент</th>
      <th>Врач</th>
      <th>Время начала приема</th>
      <th>Время завершения приема</th>

    </tr>
    </thead>
    <tbody>
    <tr v-for="appointment in appointments" :key="appointment">
      <td>{{appointment.patient}}</td>
      <td>{{appointment.doctor}}</td>
      <td>{{appointment.startDate}}</td>
      <td>{{appointment.endDate}}</td>
    </tr>

    </tbody>
  </table>
</div>

</div>
</template>

<script>
import {store} from "@/store";

export default {
  name: "listDoctorsAppointments",
  computed: {
    appointments() {
      return store.getters.appointments;
    }
  },
  methods: {

  }
}
</script>

<style scoped>

.contentWrapper {
  box-shadow: inset 10px 20px 10px rgba(158, 158, 158, 0.25);
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 76%;
  height: 300px;
  background: white;
color: black;
}

.listWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  width: 80px;
  height: 30px;

  padding-left: 10px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
</style>