<template>
  <div id="app">
    <div class="forms">
      <PatientCreationForm/>
      <DoctorCreationForm/>
      <PatientRegistrationForm/>
    </div>

    <ListDoctorsAppointments></ListDoctorsAppointments>
  </div>
</template>

<script>
import PatientRegistrationForm from "@/components/PatientRegistrationForm/PatientRegistrationForm";
import PatientCreationForm from "@/components/PatientCreationForm/PatientCreationForm";
import DoctorCreationForm from "@/components/DoctorCreationForm/DoctorCreationForm";
import ListDoctorsAppointments from "@/components/ListDoctorsAppointments/ListDoctorsAppointments";

export default {
  name: 'App',
  components: {
    PatientCreationForm,
    DoctorCreationForm,
    PatientRegistrationForm,
    ListDoctorsAppointments
  }
}
</script>

<style>

.forms {
  display: flex;
}
#app {
padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  color: white;
  background: #333738;
  min-height: 100vh;
  max-height: 100%;
}
</style>
